
.container{
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}

.top-img{
  background-image: url(img/main_visual_6-0x0.jpg);
  background-size: cover;
  height: 800px;
}

.top-logo{
  padding: 50px 0 0 70px;
  width: 250px;
  float: left;
}


.top-list a{
  text-decoration: none;
  color: white;
  padding-right: 30px;
  
}

.top-list ul{
  list-style-type: none;
  display: flex;
  float: right;
  padding-top: 60px;
}

