
body{
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  color: #13191b;
  line-height: 1.7;
}

.container{
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}

.top-img{
  background-image: url(img/main_visual_6-0x0.jpg);
  background-size: cover;
  height: 800px;
}

.top-logo{
  padding: 50px 0 0 70px;
  width: 250px;
  float: left;
}


.top-list a{
  text-decoration: none;
  color: white;
  padding-right: 30px;
  
}

.top-list ul{
  list-style-type: none;
  display: flex;
  float: right;
  padding-top: 60px;
}

.description{
  text-align: center;
  background-color: #ccc;
}

.description h1{
  font-size: 45px;
  font-weight: normal;
}

.texts{
  max-width: 370px;
  margin-top: 50px;
  margin: 0 auto;
  
}

.texts .text{
  font-size: 20px;
  display: block;
  text-align: left;
}

.description img{
  width: 230px;
  height: 55px;
  margin: 15px auto;
}

.second-titles{
  display: flex;
}

.second-titles .second-left .second-title{
  padding: 50px 0 0 40px;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 30px;
  font-family: "Gill Sans Std Book", sans-serif;
}

.second-titles .second-left img{
  padding-left: 40px;
  height: 8px;
  width: 80px;
}

.second-titles .second-right{
  margin: 90px 0 0 650px;
  display: flex;
  border: solid 1px black;
}

.second-titles .second-right a{
  text-decoration: none;
  color: black;
  
  padding: 15px 20px 15px 50px;
}

.second-titles .second-right img{
  height: 14px;
  margin-top: 21px;
  padding-right: 30px;
}